---
- name: Install Clickhouse
  hosts: clickhouse
  handlers:
    - name: Start clickhouse service
      become: true
      ansible.builtin.service:
        name: clickhouse-server
        state: restarted
  tasks:
    - block:
        - name: Get clickhouse distrib
          ansible.builtin.get_url:
            url: "https://packages.clickhouse.com/rpm/stable/{{ item }}-{{ clickhouse_version }}.noarch.rpm"
            dest: "./{{ item }}-{{ clickhouse_version }}.rpm"
          with_items: "{{ clickhouse_packages }}"
      rescue:
        - name: Get clickhouse distrib
          ansible.builtin.get_url:
            url: "https://packages.clickhouse.com/rpm/stable/clickhouse-common-static-{{ clickhouse_version }}.x86_64.rpm"
            dest: "./clickhouse-common-static-{{ clickhouse_version }}.rpm"
    - name: Install clickhouse packages
      become: true
      ansible.builtin.yum:
        name:
          - clickhouse-common-static-{{ clickhouse_version }}.rpm
          - clickhouse-client-{{ clickhouse_version }}.rpm
          - clickhouse-server-{{ clickhouse_version }}.rpm
      notify: Start clickhouse service
    - name: flush_handlers
      ansible.builtin.meta: flush_handlers
    - name: Create database
      ansible.builtin.command: "clickhouse-client -q 'create database logs;'"
      register: create_db
      failed_when: create_db.rc != 0 and create_db.rc !=82
      changed_when: create_db.rc == 0

- name: Install vector
  hosts: vector
  handlers:
    - name: Start vector service
      become: true
      ansible.builtin.service:
        name: vector
        state: restarted
  tasks:
    # - name: get vector distrib
    #   ansible.builtin.get_url:
    #     url: "{{ vector_url }}"
    #     dest: ./vector-{{ vector_version }}-1.x86_64.rpm
    # - name: Install vector packages
    #   become: true
    #   ansible.builtin.yum:
    #     name: vector-{{ vector_version }}-1.x86_64.rpm
    #   notify: Start vector service
    - name: Get vector distrib
      ansible.builtin.get_url:
        url: https://packages.timber.io/vector/{{ vector_version }}/vector-{{ vector_version }}-1.x86_64.rpm
        dest: ./vector-{{ vector_version }}-1.x86_64.rpm
    - name: Install vector packages
      become: true
      ansible.builtin.yum:
        name: vector-{{ vector_version }}-1.x86_64.rpm
    - name: Vector | create config
      ansible.builtin.template:
        src: vector.yml.j2
        dest: vector.yml
        mode: 0664
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}" 
        validate: vector validate --no-environment --config-yaml %s
      notify: Start vector service
    # - name: Vector | create systemd unit
    #   ansible.builtin.template:
    #     src: vector.service.j2
    #     dest: /etc/systemd/system/vector.service
    #     mode: 0664
    #     owner: "{{ ansible_user_id }}"
    #     group: "{{ ansible_user_gid }}" 
    # - name: Vector | Start service
    #   become: true
    #   ansible.builtin.systemd:
    #     name: vector
    #     state: started
    #     daemon_reload: true

- name: Install nginx
  hosts: lighthouse
  handlers:
    - name: start-nginx
      become: true
      command: nginx
    - name: reload-nginx
      become: true
      command: nginx -s reload
  tasks:
    - name: Nginx | Install epel release
      become: true
      ansible.builtin.yum:
        name: epel-release
        state: present
    - name: Install nginx
      become: true
      ansible.builtin.yum:
        name: nginx
        state: present
      notify: start-nginx
    - name: Create nginx config
      become: true
      ansible.builtin.template:
        src: templates/nginx.conf.j2
        dest: /etc/nginx/nginx.conf
        mode: 0644
      notify: reload-nginx
- name: Install lighthouse
  hosts: lighthouse
  handlers:
    - name: reload-nginx
      become: true
      command: nginx -s reload
  pre_tasks: 
    - name: Lighhouse | install dependencies
      become: true
      ansible.builtin.yum:
        name: git
        state: present
  tasks: 
    - name: Lighhouse | Copy from git
      ansible.builtin.git:
        repo: "{{ lighthouse_vcs }}"
        version: master
        dest: "{{ lighthouse_location_dir }}"
    - name: Lighhouse | Create config
      become: true
      ansible.builtin.template:
        src: lighthouse.conf.j2
        dest: /etc/nginx/conf.d/default.conf
        mode: 0664
      notify: reload-nginx
