---
clickhouse:
  hosts:
    clickhouse:
      ansible_host: ${ip_clickhouse}
      ansible_connection: ssh
      remote_user: centos
      private_key_file: { ssh_key }
      ansible_ssh_extra_args: '-o StrictHostKeyChecking=no'

vector:
  hosts:
    vector:
      ansible_host: ${ip_vector}
      ansible_connection: ssh
      remote_user: centos
      private_key_file: { ssh_key }
      ansible_ssh_extra_args: '-o StrictHostKeyChecking=no'
      
lighthouse:
  hosts:
    lighthouse:
      ansible_host: ${ip_lighthouse}
      ansible_connection: ssh
      remote_user: centos
      private_key_file: { ssh_key }
      ansible_ssh_extra_args: '-o StrictHostKeyChecking=no'
